

<ion-view view-title="Dashboard" on-swipe-right="swipeRight()">
  <ion-content class="padding">
    <div class="list card" >
      <div class="item item-body" ng-click="startTimer()">
        <div ng-bind="startedAt">
          <b>Has not started yet</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Current time</div>
      <div class="item item-body" ng-bind="momentResult">
        <div>
    test
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming<button ng-click="start()">Start</button><button ng-click="stop()">Stop</button></div>
      <div class="item item-body" id="goesHere" ng-bind="currentTime">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
